@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

ul li::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 5px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background: linear-gradient(90deg, #ff9e30, #fb8d12);
  transition: 0.5s;
  cursor: pointer;
}

ul li::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  width: 0%;
  height: 5px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  background: linear-gradient(90deg, #fb8d12, #ff9e30);
  transition: 0.5s;
  cursor: pointer;
}

ul li:hover::before {
  transform: translateX(99%);
  width: 50%;
}

ul li:hover::after {
  transform: translateX(-99%);
  width: 50%;
}
