@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@600&display=swap");

.notice-post {
  height: 187px;
}

.container-select-topic {
  height: 60vh;
}

@media (max-width: 1040px) {
  .container-select-topic {
    height: auto;
  }
}

.container-notice-post {
  height: 60vh;
}

.large-notice-post {
  width: 240px;
  height: 388px;
}

.sub-posts > .notice-post {
  width: 320px;
  height: 190px;
}

.bg-image {
  background: url("https://img.freepik.com/premium-vector/colorful-liquid-background-liquid-paper-marbling-paint-background-marble-texture_630814-57.jpg")
    no-repeat center center;
  background-size: cover;
  height: 100%;
  opacity: 20%;

  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

@media (max-width: 592px) {
  .large-notice-post {
    width: 320px;
    height: 190px;
  }
  .container-notice-post {
    height: auto;
  }
}
