@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

.navmenu {
  padding: 4px;
  cursor: pointer;
  align-items: center;
}

li::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 0%;
  height: 5px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background: linear-gradient(90deg, #ff9e30, #fb8d12);
  transition: 0.5s;
  cursor: pointer;
}

li::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: -5px;
  width: 0%;
  height: 5px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  background: linear-gradient(90deg, #fb8d12, #ff9e30);
  transition: 0.5s;
  cursor: pointer;
}

li:hover::before {
  transform: translateX(99%);
  width: 50%;
}

li:hover::after {
  transform: translateX(-99%);
  width: 50%;
}

.menu {
  display: flex;
  gap: 0.5rem;
  --tw-text-opacity: 1;
  color: rgb(244 244 245 / var(--tw-text-opacity));
  transition: 0.5s;
}

.setMenu {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  z-index: 10;

  left: 0;
  bottom: 0;
  width: 100vw;
  height: 88vh;
  background-color: rgb(24, 24, 27);
  transition: 0.75s;
}

.setMenu li {
  display: flex;
}

@media (max-width: 767px) {
  .menu {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    z-index: 10;

    position: absolute;
    left: -100%;
    bottom: 0;
    width: 33vw;
    height: 88vh;
    background-color: rgb(24, 24, 27);
    transition: 0.75s;
  }
}
